.navbar{
    background: #003F77;
}

.boton{
    background:rgb(7, 116, 133);
}

.botonAgregar{
    background: #6693BC;
}

.botonEliminar{
    background:red;
}

body{
    background-color: rgb(243, 243, 243);
}